@model IEnumerable<Garden.Models.GardenSystem>


<div class="col-xl-3 p-3">
    <div class="card shadow">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">
                @Html.Raw("시스템 관리")
            </h6>
        </div>
        <div class="card-body">
            <table class="table table-borderless p-0">
                <tbody>
                  
                </tbody>
            </table>
        </div>
    </div>
</div>