<script src="~/Content/Components/Sample.jsx"></script>

<div class="text-center">

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
