<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <li>
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Garden <sup>.net5</sup></div>
        </a>
    </li>

    <li>
        <!-- Divider -->
        <hr class="sidebar-divider">
    </li>
    <li>
        <!-- Heading -->
        <div class="sidebar-heading">
            @Html.Raw("Garden")
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-server"></i>
            <span>@Html.Raw("LDAP서버 관리")</span>
        </a>
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-cog"></i>
            <span>@Html.Raw("EFAM 서버설정")</span>
        </a>
    </li>
    <li>
        <!-- Divider -->
        <hr class="sidebar-divider">
    </li>

</ul>